.page {
    padding: 75px 0 120px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        &--align-start {
            align-items: flex-start;
        }

        @media (max-width: 923px) {
            justify-content: center;
        }
    }

    &__inner-item {
        flex-basis: calc(calc(830px - 100%) * 999);
        flex-grow: 1;
    }

    &--hero {
        background: url(../img/hero-bg-blue.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &--about {
        background-color: $neu-white;
    }

    &--video {
        background-image: url(../img/video-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &--appointment {
        background: url(../img/appointment-bg.jpg) no-repeat center;
        background-size: cover;
        padding: 130px 0 210px;
    }

    &--stats {
        background-color: $secondary1;
        padding: 71px 0 78px;
    }

    &__title {
        font-weight: 900;

        &--xxl {
            font-size: 56px;
            line-height: 56px;
        }

        &--xl {
            font-size: 42px;
            line-height: 48px;
        }

        &--lg {
            font-size: 36px;
            line-height: 42px;
        }

        &--md {
            font-size: 30px;
            line-height: 36px;
        }

        &--s {
            font-size: 24px;
            line-height: 30px;
        }

        &--xs {
            font-size: 19px;
            line-height: 26px;
            margin-bottom: 20px;
        }

        &--white {
            color: $neu-white;
        }

        &--black {
            color: $neu-black;
        }

        &--secondary {
            color: $secondary2;
        }

        &--capitalize {
            text-transform: capitalize;
        }

        &--center {
            text-align: center;
        }

        &--hero {
            max-width: 583px;
            margin-bottom: 48px;
        }

        &--margin-b40 {
            margin-bottom: 40px;
        }

        &--appointment-digits {
            font-weight: 900;
            font-size: 96px;
            line-height: 56px;
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        color: $btn-white;
        letter-spacing: 2.5px;
        text-transform: uppercase;

        &--mark {
            margin-bottom: 20px;
            &::before {
                content: "";
                background: url(../../img/icons/OverlineMark.svg) no-repeat
                    center;
                height: 27px;
                width: 28px;
            }
        }

        &::before {
            content: "";
            height: 24px;
            width: 24px;
            margin-right: 10px;
        }

        &--clock::before {
            background: url(../../img/icons/access_time_24px.svg) no-repeat
                center;
        }

        &--phone::before {
            background: url(../../img/icons/phone_24px.svg) no-repeat center;
        }

        &--margin-reset {
            margin: 0;
        }

        &--primary-clr {
            color: $primary;
        }

        &--capitalize {
            text-transform: capitalize;
        }
    }

    &__container {
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
    }

    &__button {
        display: block;
        font-size: 0.75rem;
        line-height: 1.5rem;
        font-weight: 700;
        padding: 0.8em 3em;
        background-color: $secondary2;
        border: none;
        border-radius: 0.5rem;
        color: $btn-white;
        text-transform: uppercase;
        cursor: pointer;

        &--shadow {
            @include box-shadow;
        }

        &--margin-l {
            margin-left: 30px;
        }

        &--margin-t {
            margin-top: 30px;
        }

        &--align-r {
            margin-left: auto;
        }

        &--center {
            margin: 0 auto;
        }
    }

    &__text-body {
        font-weight: normal;
        letter-spacing: 0.15px;

        &--md {
            font-size: 16px;
            line-height: 24px;
        }

        &--xs {
            font-size: 14px;
            line-height: 22px;
        }

        &--primary {
            color: $primary;
            font-weight: bold;
        }

        &--upper {
            text-transform: uppercase;
        }

        &--lower {
            text-transform: lowercase;
        }
    }

    &__input {
        border: 2px solid $neu-white;
        border-radius: 10px;
        background-color: transparent;
        color: $neu-white;
        padding: 14px 24px;
        width: 100%;

        &::placeholder {
            color: $neu-white;
        }
    }
}

.page-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 0 1 320px;
        padding: 50px 43px;
        border-radius: 20px;

        &--about {
            flex-direction: row;
            align-items: flex-start;
            text-align: unset;
            flex-basis: calc(calc(830px - 100%) * 999);
            flex-grow: 1;
            padding: 0;
        }

        &--stats {
            flex-direction: row;
            align-items: flex-start;
            text-align: unset;
            flex: 0 1 237px;
            padding: 0;
        }
    }

    &__img {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        color: $neu-grey-2;
    }

    &__wrap {
        margin-left: 23px;
    }
}

@media (max-width: 1200px) {
    .page__container {
        max-width: 90%;
    }
}
