.page {
    padding: 7.5rem 0 12rem;

    &__logo {
        &::before {
            background: url(../../img/icons/logo.svg);
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;

        &--align-start {
            align-items: flex-start;
        }

        @media (max-width: 92rem) {
            justify-content: center;
        }
    }

    &__inner-item {
        flex-basis: calc(calc(83rem - 100%) * 999);
        flex-grow: 1;
    }

    &--hero {
        background: url(../img/hero-bg-blue.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &--about {
        background-color: $neu-white;
    }

    &--video {
        background-image: url(../img/video-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &--appointment {
        background: url(../img/appointment-bg.jpg) no-repeat center;
        background-size: cover;
        padding: 13rem 0 21rem;
    }

    &--stats {
        background-color: $secondary1;
        padding: 7.1rem 0 7.8rem;
    }

    &--footer {
        background-color: $neu-white;
        padding: 7.8rem 0;
    }

    &__title {
        font-weight: 900;

        &--xxl {
            font-size: 5.6rem;
            line-height: 5.6rem;
        }

        &--xl {
            font-size: 4.2rem;
            line-height: 4.8rem;
        }

        &--lg {
            font-size: 3.6rem;
            line-height: 4.2rem;
        }

        &--md {
            font-size: 3rem;
            line-height: 3.6rem;
        }

        &--s {
            font-size: 2.4rem;
            line-height: 3rem;
        }

        &--xs {
            font-size: 1.9rem;
            line-height: 2.6rem;
            margin-bottom: 2rem;
        }

        &--white {
            color: $neu-white;
        }

        &--black {
            color: $neu-black;
        }

        &--secondary {
            color: $secondary2;
        }

        &--capitalize {
            text-transform: capitalize;
        }

        &--center {
            text-align: center;
        }

        &--hero {
            max-width: 58.3rem;
            margin-bottom: 4.8rem;
        }

        &--margin-b40 {
            margin-bottom: 4rem;
        }

        &--appointment-digits {
            font-weight: 900;
            font-size: 9.6rem;
            line-height: 5.6rem;
        }
    }

    &__text-body {
        font-weight: normal;
        letter-spacing: 0.015rem;

        &--md {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }

        &--xs {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }

        &--primary {
            color: $primary;
            font-weight: bold;
        }

        &--bold {
            font-weight: 700;
        }

        &--upper {
            text-transform: uppercase;
        }

        &--lower {
            text-transform: lowercase;
        }

        &--margin-b30 {
            margin-bottom: 3rem;
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.4rem;
        color: $btn-white;
        letter-spacing: 0.25rem;
        text-transform: uppercase;

        &--mark {
            margin-bottom: 2rem;
            &::before {
                content: "";
                background: url(../../img/icons/OverlineMark.svg) no-repeat
                    center;
                height: 2.7rem;
                width: 2.8rem;
            }
        }

        &::before {
            content: "";
            height: 2.4rem;
            width: 2.4rem;
            margin-right: 1rem;
        }

        &--clock::before {
            background: url(../../img/icons/access_time_24px.svg) no-repeat
                center;
        }

        &--phone::before {
            background: url(../../img/icons/phone_24px.svg) no-repeat center;
        }

        &--margin-reset {
            margin: 0;
        }

        &--primary-clr {
            color: $primary;
        }

        &--capitalize {
            text-transform: capitalize;
        }
    }

    &__container {
        max-width: 102rem;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    &__button {
        display: block;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 700;
        padding: 1.3em 3em;
        background-color: $secondary2;
        border: none;
        border-radius: 0.5rem;
        color: $btn-white;
        text-transform: uppercase;
        cursor: pointer;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }

        &--shadow {
            @include box-shadow;
        }

        &--margin-l {
            margin-left: 3rem;
        }

        &--margin-t {
            margin-top: 3rem;
        }

        &--align-r {
            margin-left: auto;
        }

        &--center {
            margin: 0 auto;
        }

        &--mobile-hidden {
            @media (max-width: 768px) {
                display: none;
            }
        }

        &--menu {
            @media (min-width: 769px) {
                display: none;
            }
        }
    }

    &__input {
        border: 2px solid $neu-white;
        border-radius: 1rem;
        background-color: transparent;
        color: $neu-white;
        padding: 1.4rem 2.4rem;
        width: 100%;

        &::placeholder {
            color: $neu-white;
        }
    }
}

.page-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 0 1 32rem;
        padding: 5rem 4.3rem;
        border-radius: 2rem;

        &--about {
            flex-direction: row;
            align-items: flex-start;
            text-align: unset;
            flex-basis: calc(calc(83rem - 100%) * 999);
            flex-grow: 1;
            padding: 0;
        }

        &--stats {
            flex-direction: row;
            align-items: flex-start;
            text-align: unset;
            flex: 0 1 23.7rem;
            padding: 0;

            @media (max-width: 985px) {
                margin-bottom: 1rem;
            }
        }
    }

    &__img {
        margin-bottom: 3rem;
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__text {
        color: $neu-grey-2;
    }

    &__wrap {
        margin-left: 2.3rem;
    }
}

@media (max-width: 102rem) {
    .page__container {
        max-width: 90%;
    }
}
