.appointment {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // flex-wrap: wrap;

    &__title {
        width: min-content;
    }

    &__form {
        max-width: 585px;
        width: 100%;
        padding: 76px 57px;
        @include box-shadow;
        background-color: $primary;
        border-radius: 40px;
    }

    &__form-inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__form-input {
        flex: 1 1 220px;
        color: $neu-white;
    }

    &__button {
        margin-top: 30px;
        margin-left: auto;
    }
}
